<div class="container row  mt-4">
  <a class="nav-link text-secondary text-end" routerLink="/login">LOG OUT</a>
</div>

<div class="row header justify-content-center align-items-center mb-4">
  <img class="logo" src="https://lumiere-a.akamaihd.net/v1/images/sw_logo_stacked_2x-52b4f6d33087_7ef430af.png?region=0,0,586,254" alt="StarWars Logo">
</div>

<nav class="navbar navbar-expand-sm bg-body-dark border-top border-bottom border-secondary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-1">
            <a class="nav-link active text-secondary" aria-current="page" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item px-1">
            <a class="nav-link text-secondary" routerLink="/starships">STARSHIPS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>