/* .header{
    height: 100px;
} */

.navbar{
    overflow-x: hidden;
}

.logo{
    max-width: 250px;
    max-height: 100px;
    align-self: center;
}

a{
    color: var(--bs-secondary);
}

a:hover {
    color: var(--bs-light);
}

.activo a {
    color: var(--bs-light);
}