.header{
    height: 300px;
}

.logo{
    max-width: 250px;
    max-height: 100px;
}


.vwrap{
    overflow: hidden;
    height: 400px;
}

.vmove{
    position: relative;
    bottom: 0%;
}

.vslide{
    height: 400px;
}

@keyframes slidev {
    0% { bottom: 0%; }
    30% { bottom: 0%; }
    33% { bottom: 100%; }
    63% { bottom: 100%; }
    66% { bottom: 200%; }
    99% { bottom: 200%; }
    100% { bottom: 0%; }

}

.vmove { animation: slidev linear 15s infinite }
.vmove:hover { animation-play-state: paused;}


.vslide h1{
    font-size: 2rem;
    color: var(--bs-light);
    line-height: 1.2;
}

.vslide p, li{
    font-size: 1.3rem;
    line-height: 1.6;
    color: var(--bs-secondary);
}


section {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

section .star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animate 8s ease-in-out infinite,
                backgroundmove 16s linear infinite;
}

section .star.star1 {
    animation-delay: 0s;
    background: url(../../assets/star1.png);

}

section .star.star2 {
    animation-delay: -1s;
    background: url(../../assets/star2.png);

}

section .star.star3 {
    animation-delay: -2s;
    background: url(../../assets/star3.png);

}


section .star.star4 {
    animation-delay: -4s;
    background: url(../../assets/star4.png);

}

section .star.star5 {
    animation-delay: -4s;
    background: url(../../assets/star5.png);

}

section .star.star6 {
    animation-delay: -5s;
    background: url(../../assets/star6.png);

}

section .star.star7 {
    animation-delay: -6s;
    background: url(../../assets/star7.png);

}

section .star.star8 {
    animation-delay: -7s;
    background: url(../../assets/star8.png);

}
@keyframes animate {
    0%, 40%, 80%
    {
        opacity: 0;
    }
    20%,  60%,  100%
    {
        opacity: 1;
    }
}

@keyframes backgroundmove {
    0% 
    {
        transform: scale(0);
    }
    100%
    {
        transform: scale(1);
    }
}