.header{
    height: 250px;
}

.navbar{
    overflow-x: hidden;
}


a.list-group-item{
    border: none;
  }

.ships{
    background-color: #151515;
}

img{
    color: gray;
    text-align: center;
}

