.header{
    height: 200px;
}

.navbar{
    overflow-x: hidden;
}

.logo{
    max-width: 250px;
    max-height: 100px;
}


a.list-group-item{
    border: none;
  }

.ships{
    background-color: #151515;
}

img{
    color: gray;
    text-align: center;
}

