
    <app-navbar></app-navbar>

<div class="hero">
    <video id="background-video" autoplay loop muted poster="../../assets/space.webp">
        <source src="../../assets/herovideo.webm" type="video/mp4">
        </video>

    <div class="container texto text-center mx-3">
        <div class="row">
            <div class="col col-md-6 offset-1 align-items-center text-start text-light">
                <h1>BUCKLE UP & DISCOVER THE NEWEST STARSHIPS OF STARWARS</h1>
            </div>
            <div class="w-100"></div>
            <div class="d-grid col-4 col-lg-2 offset-1 text-start">
                <button class="btn btn-secondary p-3" routerLink="/starships">Discover</button>
                
            </div>
        </div>
    </div>

</div>

<div class="row divider">

</div>

<div class="bg-black">
    <div class="container">

        <div class="row ">
            <div class="d-flex flex-wrap justify-content-evenly">
                <div class="feature text-center justify-content-evenly">
                                    <div class="feature-inner">
                                        <div class="feature-icon mb-4">
                                            <img src="../../assets/ship.webp" alt="Feature 01">
                                        </div>
                                        <h4 class="feature-title mt-24">X-Wing Figther</h4>
                                        <p class="text-sm mb-0">This compact (41-foot, 12.5-meter long) Rebel spitfire gets the job done in the first Star Wars, when, under the control of Luke Skywalker, one of its proton torpedoes explodes the Death Star. </p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon mb-4">
                                            <img src="../../assets/r2d2.webp" alt="Feature 02">
                                        </div>
                                        <h4 class="feature-title mt-24">R2d2</h4>
                                        <p class="text-sm mb-0">A resourceful astromech droid, R2-D2 served Padmé Amidala, Anakin Skywalker and Luke Skywalker in turn, showing great bravery in rescuing his masters and their friends from many perils.</p>
                                    </div>
                                </div>
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        <div class="feature-icon mb-4">
                                            <img src="../../assets/mustafar.png" alt="Feature 03">
                                        </div>
                                        <h4 class="feature-title mt-24">Mustafar</h4>
                                        <p class="text-sm mb-0">A tiny, fiery planet in the Outer Rim, Mustafar maintains an erratic orbit between two gas giants. Mustafar is rich in unique and valuable minerals which have long been mined by the Tech Union.</p>
                                    </div>
                                </div>
    
            </div>
    
    
        </div>
    </div>
    <div class="footer">

    </div>

</div>