
    <app-navbar></app-navbar>

<div class="hero">
    <video id="background-video" autoplay loop muted poster="../../assets/space.webp">
        <source src="../../assets/herovideo.webm" type="video/mp4">
        </video>

    <div class="container texto text-center">
        <div class="row">
            <div class="col col-md-6 align-items-center text-start text-light">
                <h1>BUCKLE UP & DISCOVER THE NEWEST STARSHIPS OF STARWARS</h1>
                <button class="btn btn-secondary p-3" routerLink="/starships">Discover</button>
            </div>
        </div>
    </div>

</div>