.header{
    height: 200px;
}

.navbar{
    overflow-x: hidden;
}

.logo{
    max-width: 250px;
    max-height: 100px;
}

.hero {
    height: 70vh;
    /* background: url(../../assets/space.webp); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#background-video {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
    position: relative;
    left: 0;
    right: 0;
    top: 1;
    bottom: 0;
    z-index: -1;
  }

  .texto{
    z-index: 2;
    margin-top: -200px;
  }

.divider{
    height: 150px;
    background-color: black;
}

.footer{
    height: 200px;
}

img{
    max-width: 350px;
    max-height: 150px;
}

.feature {
    padding: 16px 32px;
    width: 380px;
    max-width: 380px;
    flex-grow: 1;
}

.feature-inner {
    height: 100%;
}

.feature-inner h4{
    color: var(--bs-light);
}

.feature-inner p{
    color: var(--bs-secondary);
}

.feature-icon {
	display: flex;
    justify-content: center;
}